{% extends 'base.html' %}

{% block title %} EasyCredit{% endblock %}

{% block profile %} 
	{% if user.is_authenticated %}
		
		<ul class="nav navbar-nav navbar-right">
			<li class="contenido-imagen-perfil">
				<a href="#" class="padding-minus">
					<img src="{{ user.avatar }}" class="foto-perfil">
				</a>
			</li>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{user.username}} <b class="caret"></b></a>
				
				<ul class="dropdown-menu">	
					<li><a href="#">Perfil</a></li>
					<li class="divider"></li>
					

					<li><a href="/log-out/">Salir <span class="glyphicon glyphicon-log-out"></span></a></li>

					
					
				</ul>	
			</li>	
		</ul>	

	{% endif %}

{% endblock %}

{% block content %}
<div class="container">
		<div class="row cab">
			<div class="col-md-8 contenido-bienvenida">
				<div class="jumbotron jumbotron-customize">
				 
				  <h2>Bienvenidos a Easy Credit</h1>
				 
				</div>
			</div>
			<div class="col-md-4 login">
				<h3>Conectate con:</h3>
				<p>
				  
				  <a href="{% url 'social:begin' 'facebook' %}" type="button" class="btn btn-primary btn-lg btn-lg-customize-fb"><span class="icon-facebook"></span>Facebook</a>

				  

				</p>
			</div>
		</div>

		{% if user.is_authenticated %}
		
		<h1>Bienvenido {{ user.username }}</h1>
		<img src="{{ user.avatar }}" >
		<h3>Perfil del usuario</h3>
		<p>{{ user.first_name }}</p>
		<p>{{ user.last_name }}</p>
		<p>{{ user.email }}</p>
		<p>{{ user.gender }}</p>

		<a href="/form/" type="button" class="btn btn-primary btn-lg btn-lg-customize-fb"><span ></span>Solicita tu credito</a>
			
		{% endif %}

			</div>
		</div>
		
	</div>

{% endblock %}