{% extends 'base.html' %}

{% block title %} EasyCredit{% endblock %}

{% block profile %} 
	{% if user.is_authenticated %}
		
		<ul class="nav navbar-nav navbar-right">
			<li class="contenido-imagen-perfil">
				<a href="#" class="padding-minus">
					<img src="{{ user.avatar }}" class="foto-perfil">
				</a>
			</li>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{user.username}} <b class="caret"></b></a>
				
				<ul class="dropdown-menu">	
					<li><a href="#">Perfil</a></li>
					<li class="divider"></li>
					

					<li><a href="/log-out/">Salir <span class="glyphicon glyphicon-log-out"></span></a></li>

					
				</ul>	
			</li>	
		</ul>	

	{% endif %}

{% endblock %}

{% block content %}
<div class="container">
		<div class="row cab">
			<div class="col-md-8 contenido-bienvenida">
				<div class="jumbotron jumbotron-customize">
				  
				  <h2>Formulario</h1>
				 <form action= "" method="POST">
				 	{% csrf_token %}
				 	{{form.as_ul}}
				 	<input type="submit" value="Registrar">
				 </form> 	

				 
				</div>
			</div>
			
		</div>

		
	
				
			</div>
		</div>
		
	</div>

{% endblock %}